@import url('https://fonts.googleapis.com/css2?family=Varta:wght@500&display=swap');
.poem-button {
    width: 300px;
    color: black;
    background-color: white;
}

.headerDiv {
    margin-top: 1%;
    background-color: #0c3963;
    color: white;
    text-align: center;
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #8f0000;
}

.headerBorder {
    border-style: solid;
    border-width: 2px;
    border-color: lightblue;
}
    
.mainContainer {
    display: block;
    align-content: center;
}

.buttonDiv {
    margin-top: 20px;
    height: fit-content;
    position: sticky;
    top: 20px;
}

.navButton {
    background-color: #8f0000;
    color: white;
    text-align: center;
    width: 160px;
    height: 70px;
    font-size: 20px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: lightblue;
}

.mainDiv {
    background-color: whitesmoke;
    height:100%;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 5%;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: lightblue;
}

h3 {
    color: black;
    margin-right: 10%;
}

p {
    color: black;
}

.hero-image {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80");
    background-color: #dbf9ff; /* Used if the image is unavailable */
    height: 2000px;
    background-position: center; 
    background-repeat: repeat;
    background-size: cover;
  }
  
.poem-button {
    
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    
    margin-left: 3%;
    font-family: Varta, serif;
    font-weight: 1000;
    font-size: 40px;
    width: 80%;
}

.movie-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    
    margin-left: 3%;
    font-family: Varta, serif;
    font-weight: 1000;
    font-size: 40px;
    width: 80%;
}


.entryDiv {
    margin-left: 10%;
    text-align: left;
    font-family: Varta, sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 90%;
}

.post-border {
    margin-top: 5%;
    margin-bottom:5%;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    width: 85%;
  }

.datePosted {
    font-size: 12px;
    display: inline-block;
}

.blankColWidth {
    width:100%;
}

.readPoem {
    font-size: 10px;
    margin-left: 2%;
    padding-top: 4%;
}

.readPoem p {
    color: blue;
}

.page-title {
    color: #0c3963;
    font-size: 35px;

    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10%;

    border-style: solid;
    border-top: #0c3963;
    border-right: #0c3963;
    border-width: 4px;
    border-radius: 10px;
}